* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokemon-image {
    width: 200px;
    height: 200px;
}

.modal-content {
    text-align: center;
}

li > button.btn.btn-dark {
    width: 200px;
}

.pokedex-title {
  padding: .75rem 1.25rem;
}

.list-group-item {
    border: none;
}

#pokedex-title {
    font-size: x-large;
    font-weight: bolder;
}

@media screen and (max-width: 700px) {
    .pokemon-height,
    .pokemon-type {
        font-size: small;
        display: block;
    }

    .pokemon-image {
        width: 100px;
        height: 100px;
    }

    .pokemon-title{
       font-size: small;
  }
}